<h1>Listing all articles</h1>
<%= link_to 'Create new article', new_article_path %>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Categories</th>
    <th>Created by</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
  </tr>
  <%= render 'article', obj: @articles %>
</table>
<div class="text-center">
  <%= will_paginate %>
</div>