@import "bootstrap";
@import "font-awesome";

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.jumbotron {
  background-image: asset-url("shower.jpg");
  background-size: cover;
  height: 660px;
}
